<div class="header">
    <h1 class="header__title">Тест</h1>
    <div class="header__descr">Measure your skill to find out where to start.</div>
</div>
<div class="test__time">
    <div class="course__time-lessons">30 вопросов</div>
    <div class="course__time-hours"><i class="pi pi-clock"></i> 45 мин.</div>
</div>
<div class="question-block">
    <div class="question-block__number">
        <div class="vl-top"></div>
        <div class="question-circle">
            <div class="question-circle__text">1</div>
        </div>
        <div class="vl-bottom"></div>
    </div>
    <div class="question-block__item">
        <h4 class="question-block__item-title">
            Вопрос 1 из 30
        </h4>
        <div class="question-block__item-descr">
            An angular 2 project written in typescript is* transpiled to javascript duri*ng the build process. Which of the following additional features are provided to the developer while programming on typescript over javascript?
        </div>
        <div class="question-block__item-buttons">
            <div class="question-block__item-button">Предыдущий вопрос</div>
            <div class="question-block__item-button__next">Следующий вопрос</div>
        </div>
    </div>
    <div class="question-block__answer">
        <h3 class="answer-title">
            Ваш ответ
        </h3>
        <div class="answer-variants">
            Ответыы... Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nostrum nihil minima
        </div>
    </div>
</div>