<div class="py-4 px-4 mx-0 mt-8 lg:mx-8">
  <div class="grid justify-content-between">
    <div class="col-12 md:col-2" style="margin-top:-1.5rem;">
      <a (click)="router.navigate(['/main'], {fragment: 'home'})"
         class="flex flex-wrap align-items-center justify-content-center md:justify-content-start md:mb-0 mb-3 cursor-pointer">
        <img src="assets/layout/images/{{config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="footer sections"
             width="50" height="50" class="mr-2">
        <h4 class="font-medium text-3xl text-900">LMS</h4>
      </a>
    </div>

    <div class="col-12 md:col-10 lg:col-7">
      <div class="grid text-center md:text-left">
        <div class="col-12 md:col-3">
          <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Компания</h4>
          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700" [href]="config.urls.neimark"
             target="_blank">О нас</a>
          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700" [href]="config.urls.neimark_news"
             target="_blank">Новости</a>
        </div>

        <div class="col-12 md:col-3 mt-4 md:mt-0">
          <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Ресурсы</h4>
          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700"
             [routerLink]="'/login'">Присоединиться</a>
          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700"
             [routerLink]="'/login'">Войти</a>
        </div>

        <div class="col-12 md:col-3 mt-4 md:mt-0">
          <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Сообщество</h4>
          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700" [href]="config.urls.discord"
             target="_blank">Discord
            <img src="assets/layout/images/new-badge.svg" class="ml-2"/></a>
        </div>

        <div class="col-12 md:col-3 mt-4 md:mt-0">
          <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Права</h4>
          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Их нет</a>
        </div>
      </div>
    </div>
  </div>
</div>



