<div class="quizzes">
   <div class="container">
      <div class="quizzes__wrapper">
         <div class="card card-w-title">
            <div class="title__wrapper">
               <h1>Quizzes</h1>
               <a class="add__quizze-btn">Add quizze</a>
            </div>
            <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'pi pi-home'}"></p-breadcrumb>
         </div>

         <div class="quizzes__list">
            <div class="md:col-6 col-12">
               <div class="card">
                  <div class="card-body grid">
                     <a href="" class="quizze__link">
                        <img src="" alt="" class="quizze__avatar">
                     </a>
                     <div class="quizze__desc">
                        <a href="" class="quizze__desc-link">Angular Routing In-Depth</a>
                        <p class="quizze__desc-text">15 completed</p>
                     </div>
                  </div>

                  <div class="card-footer mt-2">
                     <a href="" class="quizze__footer-link">
                        Review
                        <span class="quizze__footer-notif">5</span>
                     </a>
                  </div>
               </div>
            </div>

            <div class="md:col-6 col-12">
               <div class="card">
                  <div class="card-body grid">
                     <a href="" class="quizze__link">
                        <img src="" alt="" class="quizze__avatar">
                     </a>
                     <div class="quizze__desc">
                        <a href="" class="quizze__desc-link">Angular Routing In-Depth</a>
                        <p class="quizze__desc-text">15 completed</p>
                     </div>
                  </div>

                  <div class="card-footer mt-2">
                     <a href="" class="quizze__footer-link">
                        Review
                        <span class="quizze__footer-notif">5</span>
                     </a>
                  </div>
               </div>
            </div>

            <div class="md:col-6 col-12">
               <div class="card">
                  <div class="card-body grid">
                     <a href="" class="quizze__link">
                        <img src="" alt="" class="quizze__avatar">
                     </a>
                     <div class="quizze__desc">
                        <a href="" class="quizze__desc-link">Angular Routing In-Depth</a>
                        <p class="quizze__desc-text">15 completed</p>
                     </div>
                  </div>

                  <div class="card-footer mt-2">
                     <a href="" class="quizze__footer-link">
                        Review
                        <span class="quizze__footer-notif">5</span>
                     </a>
                  </div>
               </div>
            </div>

            <div class="md:col-6 col-12">
               <div class="card">
                  <div class="card-body grid">
                     <a href="" class="quizze__link">
                        <img src="" alt="" class="quizze__avatar">
                     </a>
                     <div class="quizze__desc">
                        <a href="" class="quizze__desc-link">Angular Routing In-Depth</a>
                        <p class="quizze__desc-text">15 completed</p>
                     </div>
                  </div>

                  <div class="card-footer mt-2">
                     <a href="" class="quizze__footer-link">
                        Review
                        <span class="quizze__footer-notif">5</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>

         <div class="quizzes__footer">
            <div class="col-12">
               <div class="card">
                  <div class="card-body quizze__flex">
                     <a href="" class="quizze__link">
                        <img src="" alt="" class="quizze__avatar">
                     </a>
                     <div class="quizze__desc">
                        <a href="" class="quizze__desc-link">Angular Routing In-Depth</a>
                        <p class="quizze__desc-text">15 completed</p>
                     </div>
                     <a href="" class="quizze__footer-info">
                        Completed
                        <span class="quizze__footer-notif">5</span>
                     </a>
                  </div>

                  <div class="card-body quizze__flex">
                     <a href="" class="quizze__link">
                        <img src="" alt="" class="quizze__avatar">
                     </a>
                     <div class="quizze__desc">
                        <a href="" class="quizze__desc-link">Angular Routing In-Depth</a>
                        <p class="quizze__desc-text">15 completed</p>
                     </div>
                     <a href="" class="quizze__footer-info">
                        Completed
                        <span class="quizze__footer-notif">5</span>
                     </a>
                  </div>

                  <div class="card-body quizze__flex">
                     <a href="" class="quizze__link">
                        <img src="" alt="" class="quizze__avatar">
                     </a>
                     <div class="quizze__desc">
                        <a href="" class="quizze__desc-link">Angular Routing In-Depth</a>
                        <p class="quizze__desc-text">15 completed</p>
                     </div>
                     <a href="" class="quizze__footer-info">
                        Completed
                        <span class="quizze__footer-notif">5</span>
                     </a>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>