.header {
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 0 10px #00d4e5;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header__links {
    display: flex;
    align-items: center;
}

.header__lk,
.header__notifications,
.header__settings {
    padding: 0 20px;
}
